/*responsive.css*/
/* ==========================================
   LARGE DESKTOP
========================================== */

@media (max-width: 1400px) {
}

/* ==========================================
   LAPTOP
========================================== */

@media (max-width: 1200px) {
}

/* ==========================================
   TABLET
========================================== */

@media (max-width: 992px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-left {
    order: 2;

    text-align: center;
  }

  .hero-left p {
    margin-inline: auto;
  }

  .hero-image {
    order: 1;

    max-width: 500px;

    margin: auto;
  }

  .hero-buttons {
    justify-content: center;
  }
}
/* ==========================================
   MOBILE
========================================== */

@media (max-width: 768px) {
  .hero {
    padding: 20px 0 60px;
  }

  .hero-container {
    gap: 35px;

    padding: 10px 0;
  }

  .hero-buttons {
    flex-direction: column;

    align-items: center;
  }

  .hero-btn,
  .course-btn {
    width: 100%;

    max-width: 320px;
  }
}

/* ==========================================
   SMALL MOBILE
========================================== */

@media (max-width: 576px) {
  .hero-image {
    min-height: 320px;
    border-radius: 20px;
  }

  .hero-left p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .hero-subtitle {
    font-size: 15px;
  }

  .hero-left h1 {
    line-height: 1.1;
  }

  .hero-image {
    border-radius: 20px;
  }

  .hero-shape {
    display: none;
  }
}
